.main-header {
    .logo1 {
        background: url('../../../imgs/header/logo1.png') left center no-repeat;
    }
    .logo2 {
        background: url(../../../imgs/header/logo2.png) left center no-repeat;
    }
    .logo3 {
        background: url(../../../imgs/header/logo3.png) left center no-repeat;
    }
    .logo4 {
        background: url(../../../imgs/header/logo4.png) left center no-repeat;
    }
    .logo5 {
        background: url(../../../imgs/header/logo5.png) left center no-repeat;
    }
    .logo6 {
        background: url(../../../imgs/header/logo6.png) left center no-repeat;
    }
    .logo7 {
        background: url(../../../imgs/header/logo7.png) left center no-repeat;
    }
} 

.sys-toggle {
    width: 364px;
    height: 70px;
    float: left;
    margin-left: 10px;
    position: relative;
    >.header-logo {
        position: absolute;
        left: -10px;
        right: 0;
        top: 0;
        bottom: 0;
        
        z-index: 2;
    }
    .dropdown-toggle {
        float: right;
        margin-right: 10px;
        color: #b9caff;
        font-size: 12px;
        line-height: 70px;
        padding-left: 30px;
        background: url(../../../imgs/header/toggle-icon.png) left center no-repeat;
        z-index: 3;
        position: relative;
    }
    .dropdown-menu {
        width: 100%;
        min-height: 400px;
        top: 4px;
        z-index: 1;
        padding-top: 80px;
        background: -webkit-linear-gradient(left, rgba(38, 56, 128, .8), rgba(98, 130, 186, .8));
        border: none;
        >ul>li{
            width: 100%;
            height: 70px;
            cursor: pointer;
            position: relative;
            &.active:after,
            &:hover:after{
                content:'';
                width:30px;
                height:30px;
                position: absolute;
                right:20px;
                top: 50%;
                transform:translateY(-50%);
                background: url(../../../imgs/header/right-icon.png) center no-repeat;
            }
        
        }
        
    }
}

.navbar-static-top {
    .user-info {
        float:right;
    }
    .nav-container {
        position: relative;
        float: right;
        margin-right: 20px;
        .navbar-nav {
            float: left;
            position: relative;
            z-index: 2;
        }
        .navbar-active {
            .icon {
                position: relative;
               
                &:before {
                    content: '';
                    position: absolute;
                    z-index: 2;
                    left: -3px;
                    right: -3px;
                    top: -3px;
                    bottom: -3px;
                    border-radius: 50%;
                    background-color: #717ca9;
                }
                &:after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    left: -6px;
                    right: -6px;
                    top: -6px;
                    bottom: -6px;
                    border-radius: 50%;
                    background-color: #58659b;
                }
            }
            a {
                background-color: #495893;
                border-radius: 20px;
                color: #fff !important;
            }
        }
        .dropdown-toggle {
            float: left;
            line-height: 70px;
        }
        .dropdown-menu {
            left: -16px;
            right: -16px;
            min-height: 100px;
            top: 4px;
            border: none;
            z-index: 1;
            padding-top: 48px;
            background: -webkit-linear-gradient(left, rgba(38, 56, 128, .8), rgba(98, 130, 186, .8));
        }
        .arrow-down {
            width: 12px;
            height: 6px;
            position: relative;
            z-index: 2;
            display: inline-block;
            vertical-align: middle;
            background: url(../../../imgs/header/arrow-down.png) center no-repeat;
        }
        .nav>li>a {
            font-size: 14px;
            color: #b9caff !important;
            span {
                display: inline-block;
                vertical-align: middle
            }
        }
        .icon {
            display: inline-block;
            vertical-align: middle;
            width: 18px;
            height: 18px;
            margin-right: 10px;
            position: relative;
            .icon-inner {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 3;
            }
        }
        .navbar-icon1 .icon-inner {
            background: url(../../../imgs/header/navbar-icon1-active.png) center no-repeat;
            background-size: 80% 80%;
        }
        .navbar-icon2 .icon-inner {
            background: url(../../../imgs/header/navbar-icon2.png) center no-repeat;
            background-size: 80% 80%;
        }
        .navbar-icon3 .icon-inner {
            background: url(../../../imgs/header/navbar-icon3.png) center no-repeat;
            background-size: 80% 80%;
        }
        .navbar-icon4 .icon-inner {
            background: url(../../../imgs/header/navbar-icon4.png) center no-repeat;
            background-size: 80% 80%;
        }
        .navbar-icon5 .icon-inner {
            background: url(../../../imgs/header/navbar-icon5.png) center no-repeat;
            background-size: 80% 80%;
        }
        .navbar-icon6 .icon-inner {
            background: url(../../../imgs/header/navbar-icon6.png) center no-repeat;
            background-size: 80% 80%;
        }
    }
   
   
}

.content{
    .w100{
        .list-li{
            float:right;
            overflow: hidden;
            li{
                font-size:14px;
                float: left;
                color:#000;
                padding:0 30px;

            position: relative;
                &:before{
                    content:"";
                    width:12px;
                    height:12px;
                    position: absolute;
                    top:2px;
                }
            }
            .color1{
                &:before{
                    left:12px;
                    background: #e9727a;
                }
            }
            .color2{
                &:before{
                    left:12px;
                    background: #627cb5;
                }
            }
            .color3{
                &:before{
                    left:12px;
                    background: #3b5ba2;
                }
            }
            
        }
    }
}
.box-title-fl{
    .box-title{
        float:left;
    }
    .box-right-nav{
        float: right;
        margin-right:20px;
        margin-bottom:20px;
        width:403px;
        box-sizing: border-box;
        height:32px;
        border:solid 1px #ccc;
        position:relative;
        overflow:hidden;
        border-radius: 20px;
        .nav-list-animate{
            position:absolute;
            overflow:hidden;
            z-index:1;
            li{
                float: left;
                font-size:12px;
                width:100px;
                text-align: center;
                border-right:solid 1px #ccc;
                box-sizing: border-box;
                a{
                    width:100%;
                    display: block;
                    line-height:32px;
                    color:#000;
                }
            }
            li:last-child{
                border-right:none;
            }
        }
    }
}
.box-title-fl{
.nav-list-animate{
 li.active{
    a{
        color:#fff;
    }
 }
}
}
.box-title-fr{
    .box-title{
        float:left;
    }
    .box-right-navs{
        float: right;
        margin-right:20px;
        margin-bottom:20px;
        width:403px;
        box-sizing: border-box;
        height:32px;
        border:solid 1px #ccc;
        position:relative;
        overflow:hidden;
        border-radius: 18px;
        .nav-list-animates{
            position:absolute;
            overflow:hidden;
            z-index:1;
            li{
                float: left;
                font-size:12px;
                width:100px;
                text-align: center;
                border-right:solid 1px #ccc;
                box-sizing: border-box;
                a{
                    width:100%;
                    display: block;
                    line-height:32px;
                    color:#000;
                }
            }
            li:last-child{
                border-right:none;
            }
        }
    }
}
.box-title-fr{
    .nav-list-animates{
     li.actives{
        a{
            color:#fff;
        }
     }
    }
    }
.color-slider{
    width:100px;
    height:32px;
    position:absolute;
    top: 0;
    left:0;
    z-index:0;
    box-sizing: border-box;
    background:linear-gradient(left,#3862c1,#6381c7)
}
.color-sliders{
    width:100px;
    height:32px;
    position:absolute;
    top: 0;
    left:0;
    z-index:0;
    box-sizing: border-box;
    background:linear-gradient(left,#3862c1,#6381c7)
}
.header-information {
    height:80px;
    width:100%;
    .header-info-list{
        height:80px;
        li{
            width:20%;
            height:80px;
            float:left;
            border-right:solid 1px #ccc;
            dl{
                dt{
                    float:left;
                    padding:10px 0px 10px 2px; 
                    
                }
                dd{
                    float:left;
                    padding:10px 0;
                    p{
                        
                        span{
                            width:120px;
                            display:inline-block;
                            text-align:left;
                            i{
                                font-style:normal;
                                font-size:24px;
                            }
                        }
                        .triginal{
                            width:60px;
                            position:relative;
                            &:after{
                                content:"";
                                width:10px;
                                height:10px;
                                
                                position:absolute;
                                top:2px;
                                right:0;
                        
                            }
                        }
                        .up-span{
                            &:after{
                                background:url("../imgs/up.png") no-repeat center;
                            }
                        }
                        .down-span{
                            &:after{
                                background:url("../imgs/down.png") no-repeat center;
                            }
                        }
                    }
                }
            }
        }
    }
}
.shiel{
    .left-shiel{
        float:left;
        width:50%;
        height:210px;
    }
    .right-shiel{
        float:right;
        width:50%;
        height:210px;
        margin-top:30px;
        dl{

            margin-bottom:20px;
            dt{
                float: left;
                margin-right:10px;
            }
            dd{
                float: left;
                .list-title{
                    color:#6c84b9;
                    font-size:12px;
                    padding-right:15px;
                }
                .list-number{
                    font-size:14px;
                }
            }
        }
    }
}
