.main-header .logo1 {
  background: url('../../../imgs/header/logo1.png') left center no-repeat;
}
.main-header .logo2 {
  background: url(../../../imgs/header/logo2.png) left center no-repeat;
}
.main-header .logo3 {
  background: url(../../../imgs/header/logo3.png) left center no-repeat;
}
.main-header .logo4 {
  background: url(../../../imgs/header/logo4.png) left center no-repeat;
}
.main-header .logo5 {
  background: url(../../../imgs/header/logo5.png) left center no-repeat;
}
.main-header .logo6 {
  background: url(../../../imgs/header/logo6.png) left center no-repeat;
}
.main-header .logo7 {
  background: url(../../../imgs/header/logo7.png) left center no-repeat;
}
.sys-toggle {
  width: 364px;
  height: 70px;
  float: left;
  margin-left: 10px;
  position: relative;
}
.sys-toggle > .header-logo {
  position: absolute;
  left: -10px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}
.sys-toggle .dropdown-toggle {
  float: right;
  margin-right: 10px;
  color: #b9caff;
  font-size: 12px;
  line-height: 70px;
  padding-left: 30px;
  background: url(../../../imgs/header/toggle-icon.png) left center no-repeat;
  z-index: 3;
  position: relative;
  right: 30px;
}
.sys-toggle .dropdown-menu {
  width: 100%;
  min-height: 400px;
  top: 4px;
  z-index: 1;
  padding-top: 80px;
  background: -webkit-linear-gradient(left, rgba(38, 56, 128, 0.8), rgba(98, 130, 186, 0.8));
  border: none;
}
.sys-toggle .dropdown-menu > ul > li {
  width: 100%;
  height: 70px;
  cursor: pointer;
  position: relative;
}
.sys-toggle .dropdown-menu > ul > li.active:after,
.sys-toggle .dropdown-menu > ul > li:hover:after {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../../../imgs/header/right-icon.png) center no-repeat;
}
.navbar-static-top .user-info {
  float: right;
}
.navbar-static-top .nav-container {
  position: relative;
  float: right;
  margin-right: 20px;
}
.navbar-static-top .nav-container .navbar-nav {
  float: left;
  position: relative;
  z-index: 2;
}
.navbar-static-top .nav-container .navbar-active .icon {
  position: relative;
}
.navbar-static-top .nav-container .navbar-active .icon:before {
  content: '';
  position: absolute;
  z-index: 2;
  left: -3px;
  right: -3px;
  top: -3px;
  bottom: -3px;
  border-radius: 50%;
  background-color: #717ca9;
}
.navbar-static-top .nav-container .navbar-active .icon:after {
  content: '';
  position: absolute;
  z-index: 1;
  left: -6px;
  right: -6px;
  top: -6px;
  bottom: -6px;
  border-radius: 50%;
  background-color: #58659b;
}
.navbar-static-top .nav-container .navbar-active a {
  background-color: #495893;
  border-radius: 20px;
  color: #fff !important;
}
.navbar-static-top .nav-container .navbar-active a span {
  color: #fff;
}
.navbar-static-top .nav-container .dropdown-toggle {
  float: left;
  line-height: 70px;
}
.navbar-static-top .nav-container .dropdown-menu {
  left: -16px;
  right: -16px;
  min-height: 100px;
  top: 4px;
  border: none;
  z-index: 1;
  padding-top: 48px;
  /*Mozilla*/
  background: -webkit-gradient(linear, 0 50%, 100% 50%, from(rgba(38, 56, 128, 0.8)), to(rgba(98, 130, 186, 0.8)));
  /*Old gradient for webkit*/
  background: -webkit-linear-gradient(left, rgba(38, 56, 128, 0.8), rgba(98, 130, 186, 0.8));
  /*new gradient for Webkit*/
  background: -linear-gradient(left, rgba(38, 56, 128, 0.8), rgba(98, 130, 186, 0.8));
}
.navbar-static-top .nav-container .arrow-down {
  width: 12px;
  height: 6px;
  position: relative;
  z-index: 2;
  display: inline-block;
  vertical-align: middle;
  background: url(../../../imgs/header/arrow-down.png) center no-repeat;
}
.navbar-static-top .nav-container .nav > li > a {
  font-size: 14px;
  color: #b9caff !important;
}
.navbar-static-top .nav-container .nav > li > a span {
  display: inline-block;
  vertical-align: middle;
}
.navbar-static-top .nav-container .icon {
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  position: relative;
}
.navbar-static-top .nav-container .icon .icon-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.navbar-static-top .nav-container .navbar-icon1 .icon-inner {
  background: url(../../../imgs/header/navbar-icon1-active.png) center no-repeat;
  background-size: 80% 80%;
}
.navbar-static-top .nav-container .navbar-icon2 .icon-inner {
  background: url(../../../imgs/header/navbar-icon2.png) center no-repeat;
  background-size: 80% 80%;
}
.navbar-static-top .nav-container .navbar-icon3 .icon-inner {
  background: url(../../../imgs/header/navbar-icon3.png) center no-repeat;
  background-size: 80% 80%;
}
.navbar-static-top .nav-container .navbar-icon4 .icon-inner {
  background: url(../../../imgs/header/navbar-icon4.png) center no-repeat;
  background-size: 80% 80%;
}
.navbar-static-top .nav-container .navbar-icon5 .icon-inner {
  background: url(../../../imgs/header/navbar-icon5.png) center no-repeat;
  background-size: 80% 80%;
}
.navbar-static-top .nav-container .navbar-icon6 .icon-inner {
  background: url(../../../imgs/header/navbar-icon6.png) center no-repeat;
  background-size: 80% 80%;
}
.content .w100 .list-li {
  float: right;
  overflow: hidden;
}
.content .w100 .list-li li {
  font-size: 14px;
  float: left;
  color: #000;
  padding: 0 30px;
  position: relative;
}
.content .w100 .list-li li:before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 2px;
}
.content .w100 .list-li .color1:before {
  left: 12px;
  background: #e9727a;
}
.content .w100 .list-li .color2:before {
  left: 12px;
  background: #627cb5;
}
.content .w100 .list-li .color3:before {
  left: 12px;
  background: #3b5ba2;
}
.box-title-fl .box-title {
  float: left;
}
.box-title-fl .box-right-nav {
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 403px;
  box-sizing: border-box;
  height: 32px;
  border: solid 1px #ccc;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.box-title-fl .box-right-nav .nav-list-animate {
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
.box-title-fl .box-right-nav .nav-list-animate li {
  float: left;
  font-size: 12px;
  width: 100px;
  text-align: center;
  border-right: solid 1px #ccc;
  box-sizing: border-box;
}
.box-title-fl .box-right-nav .nav-list-animate li a {
  width: 100%;
  display: block;
  line-height: 32px;
  color: #000;
}
.box-title-fl .box-right-nav .nav-list-animate li:last-child {
  border-right: none;
}
.box-title-fl .nav-list-animate li.active a {
  color: #fff;
}
.box-title-fr .box-title {
  float: left;
}
.box-title-fr .box-right-navs {
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 403px;
  box-sizing: border-box;
  height: 32px;
  border: solid 1px #ccc;
  position: relative;
  overflow: hidden;
  border-radius: 18px;
}
.box-title-fr .box-right-navs .nav-list-animates {
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
.box-title-fr .box-right-navs .nav-list-animates li {
  float: left;
  font-size: 12px;
  width: 100px;
  text-align: center;
  border-right: solid 1px #ccc;
  box-sizing: border-box;
}
.box-title-fr .box-right-navs .nav-list-animates li a {
  width: 100%;
  display: block;
  line-height: 32px;
  color: #000;
}
.box-title-fr .box-right-navs .nav-list-animates li:last-child {
  border-right: none;
}
.box-title-fr .nav-list-animates li.actives a {
  color: #fff;
}
.color-slider {
  width: 100px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  box-sizing: border-box;
  background: -webkit-linear-gradient(left, #3862c1, #6381c7);
  background: linear-gradient(left, #3862c1, #6381c7);
}
.color-sliders {
  width: 100px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  box-sizing: border-box;
  background: -webkit-linear-gradient(left, #3862c1, #6381c7);
  background: linear-gradient(left, #3862c1, #6381c7);
}
.header-information {
  height: 80px;
  width: 100%;
}
.header-information .header-info-list {
  height: 80px;
}
.header-information .header-info-list li {
  width: 20%;
  height: 80px;
  float: left;
  border-right: solid 1px #ccc;
}
.header-information .header-info-list li dl dt {
  float: left;
  padding: 10px 0px 10px 2px;
}
.header-information .header-info-list li dl dd {
  float: left;
  padding: 10px 0;
}
.header-information .header-info-list li dl dd p span {
  width: 110px;
  display: inline-block;
  text-align: left;
}
.header-information .header-info-list li dl dd p span i {
  font-style: normal;
  font-size: 24px;
}
.header-information .header-info-list li dl dd p .triginal {
  width: 60px;
  position: relative;
}
.header-information .header-info-list li dl dd p .triginal:after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 0;
}
.header-information .header-info-list li dl dd p .up-span:after {
  background: url("../imgs/up.png") no-repeat center;
}
.header-information .header-info-list li dl dd p .down-span:after {
  background: url("../imgs/down.png") no-repeat center;
}
.shiel .left-shiel {
  float: left;
  width: 50%;
  height: 210px;
}
.shiel .right-shiel {
  float: right;
  width: 50%;
  height: 210px;
  margin-top: 30px;
}
.shiel .right-shiel dl {
  margin-bottom: 20px;
}
.shiel .right-shiel dl dt {
  float: left;
  margin-right: 10px;
}
.shiel .right-shiel dl dd {
  float: left;
}
.shiel .right-shiel dl dd .list-title {
  color: #6c84b9;
  font-size: 12px;
  padding-right: 15px;
}
.shiel .right-shiel dl dd .list-number {
  font-size: 14px;
}

/*# sourceMappingURL=home.css.map */
